@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,800);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);
* {
  box-sizing: border-box; }

body {
  margin: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

header {
  background-color: #313332; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right; }
  header nav li {
    display: inline-block; }
  header nav a {
    line-height: 50px;
    display: block;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif; }
    header nav a:hover {
      color: #3399ff; }
  header nav img {
    padding: 10px 0; }

nav:before,
nav:after {
  content: "";
  display: table;
  clear: both; }

/* hero and slogan */
.hero {
  width: 100%;
  height: calc(100vh - 50px);
  background-image: url(https://static.pexels.com/photos/129208/pexels-photo-129208.jpeg);
  background-size: cover;
  background-position: center; }
  .hero h1,
  .hero h2 {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 5px #000; }

.slogan {
  max-width: 350px;
  margin-top: 100px;
  padding: 20px;
  background: rgba(255, 165, 0, 0.2);
  float: right;
  text-align: left; }
  .slogan h1 {
    font-weight: 100; }
  .slogan h2 {
    font-weight: 800; }

/* grid only -------------- only grid */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0%; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

section > .container {
  margin: 50px auto;
  text-align: center; }

/* section 2 benefit -- section 2 benefit */
.benefit a {
  text-decoration: none;
  color: #313332; }
  .benefit a:hover {
    color: #3399ff; }
.benefit i {
  font-size: 54px;
  padding: 10px;
  font-weight: bold;
  border: 5px solid #313332;
  border-radius: 15%; }
  .benefit i:hover {
    background: #313332; }
.benefit h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #e69500; }
.benefit p {
  padding: 0 50px; }

/* section 3 feature */
.feature h1 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #252627;
  font-weight: bold; }
.feature p {
  display: block;
  max-width: 800px;
  margin: 0 auto; }

/* section 4 gallery */
.gallery {
  width: 100%;
  position: relative; }

.gallery-item {
  width: 25%;
  float: left;
  position: relative;
  background-color: #000; }

.gallery-item img {
  width: 100%;
  display: block; }

.gallery-item .btn-content {
  position: absolute;
  left: 35%;
  top: 40%;
  display: none; }

.gallery-item .btn-content i {
  padding: 10px;
  margin: 0 3px;
  background-color: #fff;
  border-radius: 5px; }

.gallery-item:hover .btn-content {
  display: block;
  cursor: pointer; }

.gallery-item:hover img {
  opacity: 0.5; }

.btn-content i.fa:hover {
  transform: scale(1.2); }

/* section 5 leaders-team */
.leaders .team img {
  width: 100%;
  height: 220px;
  border-radius: 50%;
  margin: auto;
  position: center;
  border: 5px solid #262626; }
.leaders h2 {
  font-size: 1.5em;
  text-align: center;
  color: #4d0000; }
.leaders .col-3 {
  position: relative; }

.team {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin: auto;
  background-color: gray; }
  .team span h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #4d0000;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 45%;
    left: 35%;
    visibility: hidden; }

.team:hover span h3 {
  visibility: visible; }

/* section 6 info */
.info {
  min-height: 350px;
  background-image: url(https://static.pexels.com/photos/7462/pexels-photo.jpeg);
  padding: 30px 0 0 0;
  margin: 0; }

.info-cont {
  padding: 0; }

.info h2 {
  padding: 15px 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 35px; }
.info p {
  text-align: left;
  color: #fff;
  text-shadow: 2px 2px 1px #000;
  padding: 0 15px 0 0; }

/* section 7 statistic */
.statistic .col-2 {
  text-align: center;
  padding: 50px 0; }
.statistic .col-2 p:first-child {
  font-size: 80px;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 0; }
.statistic .col-2 p:last-child {
  font-size: 25px;
  font-weight: 400;
  color: #0066cc;
  margin-top: 0; }

/* --------------footer ---------------- */
footer {
  font-family: "Quicksand", sans-serif;
  font-weight: 400; }
  footer .rights {
    height: 50px;
    color: gray;
    background-color: #252727;
    text-align: center; }

.footer-cont {
  background-color: #313234;
  text-align: left;
  color: #fff; }
  .footer-cont p:first-child {
    padding-right: 35px; }
  .footer-cont div {
    padding: 0 0 25px 0; }
  .footer-cont h2 {
    text-transform: uppercase; }
  .footer-cont p {
    padding: 0;
    font-weight: 100; }
  .footer-cont ul {
    padding-left: 0px; }
  .footer-cont li {
    padding: 5px;
    background-color: #3399ff;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer; }

dd:after .footer .table-item {
  content: "";
  display: block;
  clear: both; }

.table-item dl {
  margin: 10px 0; }
.table-item dt {
  margin: 0 0 4px 0;
  float: left;
  clear: left;
  width: 28%; }
.table-item dd {
  float: left;
  width: 71%;
  margin: 0 0 4px 1%; }

/* media queres */
/* grid for tablets */
@media (max-width: 991px) {
  .col-m-0 {
    width: 0%; }

  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; }

  .gallery-item .btn-content {
    position: absolute;
    left: 5%;
    top: 75%;
    display: block; }

  .team span h3 {
    color: #fff;
    font-size: bold;
    background-color: transparent;
    position: absolute;
    top: 45%;
    left: 35%;
    visibility: visible; }

  .info .col-m-12,
  .info .col-m-12 {
    width: 100%;
    text-align: center;
    padding: 0 10px; }
  .info .col-m-8,
  .info .col-m-8 {
    width: 66.66%; }
  .info .col-m-4,
  .info .col-m-4 {
    width: 33.33%; }

  .statistic .col-m-3 p:first-child {
    font-size: 60px;
    margin: 0 auto; }
  .statistic .col-m-3 {
    width: 50%;
    max-height: 150px;
    margin: 0 auto;
    padding: 0 auto; }

  .footer-cont .col-m-12,
  .col-m-5 {
    margin: 0 10px; } }
@media (max-width: 767px) {
  .col-s-0 {
    width: 0%; }

  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; }

  header nav ul,
  header nav ul {
    float: none;
    text-align: center; }
  header nav li,
  header nav li {
    display: block; }

  .gallery .col-s-12,
  .leaders .col-s-12 {
    width: 100%; }

  .gallery-item .btn-content {
    position: absolute;
    left: 5%;
    top: 75%;
    display: block; }

  .gallery-item .btn-content i {
    background-color: #3399ff; }

  .team span h3 {
    color: #fff;
    font-size: bold;
    background-color: transparent;
    position: absolute;
    top: 45%;
    left: 35%;
    visibility: visible; }

  .info,
  .info .col-s-12 {
    width: 100%;
    text-align: center;
    padding: 0 10px; }

  .statistic .col-s-3 p:first-child {
    font-size: 50px;
    margin: 0 auto; }
  .statistic .col-s-3 {
    width: 50%;
    max-height: 150px;
    margin: 0 auto;
    padding: 0 auto; }

  .footer-cont .col-s-12 {
    width: 100%;
    margin: 0 10px; } }
@media (max-width: 650px) {
  .col-xs-0 {
    width: 0%; }

  .col-xs-1 {
    width: 8.33%; }

  .col-xs-2 {
    width: 16.66%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-4 {
    width: 33.33%; }

  .col-xs-5 {
    width: 41.66%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-7 {
    width: 58.33%; }

  .col-xs-8 {
    width: 66.66%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-10 {
    width: 83.33%; }

  .col-xs-11 {
    width: 91.66%; }

  .col-xs-12 {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
